body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #ffcc00;
    font-size: 36px;
    text-align: center;
  }
  
  h2 {
    color: #333333;
    font-size: 24px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin: 5px;
    padding: 10px;
  }
  
  p {
    color: #666666;
    font-size: 16px;
  }
  